/* setting */
:root {
  --pnuColor: #308bc5;
  --backgroundColor: #fafafa;
  --borderColor: #d3d3d3;
  --textColor: #616161;
  --video: #b0de85;
  --homework: #e6675c;
  --quiz: #c065a9;
  --zoom: #3891ff;
}

summary {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: medium;
  background-color: var(--pnuColor);
  color: white;
}

a:visited {
  text-decoration: none;
}

/* calendar-container */
#plato_calendar-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
}

#prevMonth:hover {
  background: var(--borderColor);
  transition: ease-in-out 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

#nextMonth:hover {
  background: var(--borderColor);
  transition: ease-in-out 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

#re-rendering:hover {
  cursor: pointer;
}

/* calendar */
.calendar {
  position: relative;
  height: fit-content;
  color: black;
  width: 100%;
}

/* calendar-header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 10px;
  height: fit-content;
}
.calendar-header div {
  display: flex;
}

.calendar-header > div:first-child {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.calendar-header > div:first-child > img {
  padding: 10px;
}

.calendar-header-info {
  display: flex;
  justify-content: space-between;
}

.calendar-header-info > div:last-child {
  border-radius: 5px;
  padding: 10px;
  margin-left: 32px;
  background-color: var(--pnuColor);
  color: white;
  font-weight: bold;
}

.calendar-header-info > div:last-child img {
  padding-right: 10px;
}

.calendar-header-info-icons > div {
  align-items: end;
}

.calendar-header-info-icons label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-header-info-icons input[type='checkbox'] {
  position: absolute;
  width: 22px;
  vertical-align: middle;
  visibility: hidden;
}

.calendar-header-info-icons img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* calendar-content */
.calendar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  background-color: var(--backgroundColor);
}

.calendar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.calendar-content li {
  display: block;
  float: left;
  width: 14.285%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.calendar-content-weekdays {
  height: 40px;
  background: var(--pnuColor);
}

.calendar-content-weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border-right: 1px solid white;
  padding: 10px 6px;
  color: white;
  font-size: 13px;
}

.calendar-content-week li {
  display: flex;
  justify-content: space-between;
  align-content: end;
  height: 96px;
}

.calendar-content-week li > div {
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: 40px 40px;
  align-items: center;
  justify-content: center;
}

.calendar-content-week li > div > div:hover {
  cursor: pointer;
}

.calendar-content-week-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.homeWork {
  background-color: var(--homework);
}

.video {
  background-color: var(--video);
}

.quiz {
  background-color: var(--quiz);
}

.zoom {
  background-color: var(--zoom);
}

.done-assignment {
  background-color: var(--textColor);
}

/* Modal */
#calendarModal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-self: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 50%;
  max-width: 500px;
  height: 50%;
  border-radius: 32px;
  background-color: var(--backgroundColor) !important;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content > span {
  display: flex;
  justify-content: end;
  width: 90%;
  padding: 10px;
  color: var(--textColor);
  font-size: 20px;
}

.modal-content-header {
  cursor: pointer;
}

.modal-content-card {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  text-decoration: none;
}

.modal-content-card:hover {
  background: var(--borderColor);
  transition: ease-in-out 0.5s;
}

.modal-content-card > img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.modal-content-card > div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.modal-content-card > div > div {
  color: var(--textColor) !important;
}

.modal-content-card > div > div:first-child {
  grid-column: 1 / span 2;
  color: black !important;
  font-weight: bold !important;
}

.modal-content-card > div > div:nth-child(2) {
  width: 90%;
  text-wrap: nowrap;
}

.done-modal-card {
  background-color: var(--borderColor) !important;
}
