/* 최상위 */
#plato_calendar-container {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #308bc5;
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  color: white;
  position: relative;
}

/* 전체 스타일 적용 */
ul li {
  list-style-type: none;
}

/* calendar*/
.calendar {
  position: absolute;
  top: 40px;
  left: 0;
  color: black;
  background-color: thistle;
  width: 100%;
}

/* calendar-header  */
.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: antiquewhite;
}

.calendar-header div {
  display: flex;
  align-items: start;
}

.icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.custom_chbox {
  height: 20px;
}

/* calendar-content */
.calendar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  background-color: lightblue;
}

.calendar-content ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  margin: 0;
  background-color: lightgray;
  border: 1px solid black;
}

.calendar-content ul:first-child {
  align-items: center;
  background-color: bisque;
  border: 1px solid black;
  height: 40px;
}
