#plato_calendar-container {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #308bc5;
  border-radius: 5px;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  color: white;
}
